@use "../utils/colors.scss";

.city {
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 1rem;
    background-color: #eae5e5;
    padding:2rem;
     & i{
        font-size:1.2rem;
    }

     #name{
        border-block-end-style: none;
        font-size: 1.5rem;
        border: none;
        background-color:#eae5e5;
        margin-right:-5rem;
        font-weight:bolder;
    }
}