@use "../utils/mixins";

.explorer{
    background-color: #fafafa;
    text-align: center;
    height:18rem;
    //padding-top:3rem;

    & h2{
    margin-top:2rem;  
    }
    & p{
    font-size:1rem;
    }
    & button{
    @include mixins.base-button;
   // argument: il est resté à opacity 0.9
    }
    & button:hover{
    transform: scale(1.02);
    opacity: 0.9;
    }
}
