@use "../utils/variables.scss";

.menus{
    background-color: #f6f6f6;
    h2{
        margin-bottom:2rem;
    }

    .menus__cards{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
        @media (max-width:variables.$breakpoint){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .card{
        &__image{
            height:15rem;
            background-size:cover;
            border-radius:1rem 1rem 0 0;
        } 
        @for $i from 1 through 4{ // fot loop
            &__image-#{$i} {
                background-image: url("../../assets/menu-#{$i}.jpg");
            }
        }   
    }
}






