@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* ::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  main {
    padding: 0 7rem;
    margin: 2rem 2rem;
  }
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #eae5e5;
  padding: 2rem;
}
.city i {
  font-size: 1.2rem;
}
.city #name {
  border-block-end-style: none;
  font-size: 1.5rem;
  border: none;
  background-color: #eae5e5;
  margin-right: -5rem;
  font-weight: bolder;
}

/*@mixin mobile-only{
    @media screen and (max-width:map-get($breakpoints, mobile)){
       @content;
    }
}*/
.explorer {
  background-color: #f6f6f6;
  text-align: center;
  height: 20rem;
}
.explorer h2 {
  margin-top: 2rem;
}
.explorer p {
  font-size: 1.3rem;
  color: grey;
}
.explorer button {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition-duration: 0.25s;
  margin-top: 3rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #fafafa;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 100ms 3s forwards;
  transform-origin: top;
  /*i{
      animation: spin $animation-duration infinite linear;
  }*/
}
.loader::after {
  content: "";
  height: 200px;
  width: 200px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
  animation-iteration-count: 3;
}

@keyframes disappear {
  /* 0%{
       transform:scale(1);
   }*/
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.tuto {
  background-color: white;
  counter-reset: steps;
  margin-bottom: 2rem;
  padding: 1rem;
}

ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1200px) {
  ol {
    flex-direction: column;
  }
}

li {
  position: relative;
  right: 1.5rem;
  font-weight: bold;
  list-style-type: none;
  background-color: #fafafa;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #ae80e5;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
li:hover {
  transform: scale(1.02);
  background-color: #ffdff6;
}
li:hover i::before {
  color: #9356dc;
}
li i.fas {
  margin-right: 1rem;
  color: #7c7c7c;
  font-size: 1.2rem;
}

#homepage .menus {
  margin-bottom: 2rem;
  margin: 3rem;
}
#homepage .menus h2 {
  margin-bottom: 2rem;
}
#homepage .menus .city #name {
  font-size: 10rem;
}
#homepage .menus .menus__cards {
  display: grid;
  background-color: #f6f6f6;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1200px) {
  #homepage .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus .menus__cards .new {
  position: relative;
}
#homepage .menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  display: grid;
  place-items: center;
  color: #1b6150;
  border-radius: 0.25rem;
  right: 1rem;
  top: 1rem;
}
#homepage .menus .card__image {
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  background-position: center;
}
#homepage .menus .card__image-1 {
  background-image: url("../../assets/menu-1.jpg");
}
#homepage .menus .card__image-2 {
  background-image: url("../../assets/menu-2.jpg");
}
#homepage .menus .card__image-3 {
  background-image: url("../../assets/menu-3.jpg");
}
#homepage .menus .card__image-4 {
  background-image: url("../../assets/menu-4.jpg");
}
#homepage .menus .card .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
#homepage .menus .card .card__description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.5rem;
  position: absolute;
  right: 2.5rem;
  top: 30%;
  transform: translateY(-30%);
  color: #7c7c7c;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#homepage .menus .card .card__description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 1.5rem;
  position: absolute;
  right: 2.5rem;
  top: 30%;
  transform: translateY(-30%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .menus .card .card__description:hover::after {
  opacity: 1;
  transform: translateY(-30%) scale(1.2);
}
#homepage .menus .card .card__description:hover .fas {
  opacity: 1;
  transform: scale(1.2) translateY(-30%);
}
#homepage .menus .card .card__description h3, #homepage .menus .card .card__description p {
  padding: 0.3rem;
}

footer {
  background-color: #353535;
  padding: 0 2rem;
  color: white;
  padding: 1rem 2rem;
}
footer h2 {
  font-family: "Shrikhand", "cursive";
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes quarterspin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
body {
  background-color: #F6F6F6;
}

#page-restaurant header::before {
  transition: transform 3s;
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-family: "font Awesome 5 free";
  font-weight: 900;
  content: "\f060";
  left: 1rem;
}
#page-restaurant header:hover {
  transform: scale(1.02);
}
#page-restaurant .banner img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}
#page-restaurant .resto__title {
  margin-top: -4rem;
}
#page-restaurant .resto__title h2 {
  background: white;
  padding: 2rem;
  border-radius: 3em 4rem 0 0;
  position: relative;
  font-family: "Shrikhand", "cursive";
  background-color: #F6F6F6;
}
#page-restaurant .resto__title h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.5rem;
  position: absolute;
  right: 2.5rem;
  top: 30%;
  transform: translateY(-30%);
  color: #7c7c7c;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#page-restaurant .resto__title h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 1.5rem;
  position: absolute;
  right: 2.5rem;
  top: 30%;
  transform: translateY(-30%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
}
#page-restaurant .resto__title h2:hover::after {
  opacity: 1;
  transform: translateY(-30%) scale(1.2);
}
#page-restaurant .resto__title h2:hover .fas {
  opacity: 1;
  transform: scale(1.2) translateY(-30%);
}
#page-restaurant .resto-main {
  padding: 0;
  background-color: #F6F6F6;
}
#page-restaurant .menus__choice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1200px) {
  #page-restaurant .menus__choice {
    grid-template-columns: repeat(1, 3fr);
  }
}
#page-restaurant h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-left: 2rem;
}
#page-restaurant h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
#page-restaurant .menu__category {
  background-color: white;
  border-radius: 1rem;
  filter: drop-shadow(4px 4px 4px #7c7c7c);
  overflow: hidden;
  margin: 1.5rem;
  animation: appear 3s;
}
#page-restaurant .menu__category .menu-items {
  display: flex;
  overflow: hidden;
  animation-fill-mode: both;
  animation: appear 1s;
}
#page-restaurant .menu__category .menu-items:nth-child(1) {
  animation-delay: 100ms;
}
#page-restaurant .menu__category .menu-items:nth-child(2) {
  animation-delay: 200ms;
}
#page-restaurant .menu__category .menu-items:nth-child(3) {
  animation-delay: 300ms;
}
#page-restaurant .menu__category .menu-items .menu-items__description {
  padding: 1rem;
  overflow: hidden;
}
#page-restaurant .menu__category .menu-items .menu-items__description h4, #page-restaurant .menu__category .menu-items .menu-items__description p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-restaurant .menu__category .menu-items .menu-items__price {
  margin-left: auto;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-restaurant .menu__category .menu-items .menu-items__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 1s;
}
#page-restaurant .menu__category .menu-items .menu-items__check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1/1;
  width: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-restaurant .menu__category .menu-items:hover {
  cursor: pointer;
}
#page-restaurant .menu__category .menu-items:hover .menu-items__check {
  margin-right: 0;
}
#page-restaurant .menu__category .menu-items:hover i {
  animation: quarterspin 750ms 1 linear;
}
@keyframes quarterspin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.order {
  padding-bottom: 4rem;
  display: grid;
  place-items: center;
}
.order button {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition-duration: 0.25s;
  margin-top: 3rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
